body {
    background: black;
  
}
#MyClockDisplay{
    transition: transform 0.5s ease-out;
    letter-spacing: 7px;
    font-size: 60px;
    text-align: center;
    padding:10px;
    color: #d3a9d4;
    font-family: Orbitron;
    border: 2px dashed rgb(197, 90, 197);
    border-radius: 20px; 
    width: 45%;
    margin: auto; 
}

#MyClockDisplay:hover{
  background-color: #f0f3f3;
  color: rgb(200, 80, 240);
  transform: scale(1.2);
  border: 2px dashed rgb(21, 67, 218);
}
h1,h2{
  text-transform: uppercase;
  font-weight: 100;
  font-size: 70px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color:rgb(214, 106, 209);
}